# Dependencias
node_modules/

# Builds
dist/
build/

# Archivos de entorno
.env

# VSCode
.vscode/

# Archivos del sistema (Windows / macOS / Linux)
Thumbs.db
.DS_Store
ehthumbs.db
Desktop.ini

# Logs
*.log

# Archivos temporales de Windows
AppData/
*.tmp
*.swp

# Carpetas personales y del sistema
*.bak
*.old
*.orig

# Archivos generados por Git
.git/
.gitmodules
.nvm/

